.Pokecard {
    display: inline-block;
    width: 8em;
    background-color: lightgray;
    border-radius: 10px;
    text-align: center;
    padding: 1em;
    margin: 1em;
  }

.pokedex-name {
    text-align: center;
    color: grey;
}


.Pokedex-cards {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }